<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base/layout::layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>Hesabın şifrəsini dəyiş</title>
</head>
<body>
<section>
  <div class="container-fluid p-5 mt-5">
    <h2>Hesabın şifrəsini dəyiş</h2>
    <div th:if="${session.successMessage}" class="alert alert-success alert-dismissible fade show"
         role="alert">
      [[${session.successMessage}]]
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <th:block th:text="${@sessionMessageManagementServiceImplementation.removeSessionMessage()}"></th:block>
    </div>
    <div th:if="${session.errorMessage}" class="alert alert-danger alert-dismissible fade show"
         role="alert">
      [[${session.errorMessage}]]
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <th:block th:text="${@sessionMessageManagementServiceImplementation.removeSessionMessage()}"></th:block>
    </div>
    <form method="post" action="/auth/change-account-password">
      <div class="row mt-3">
        <div class="col">
          <label for="currentPassword"></label>
          <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Mövcud şifrə" required>
        </div>
        <div class="col">
          <label for="newPassword"></label>
          <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Yeni şifrə" required>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <label for="confirmPassword"></label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Təkrar şifrə" required>
        </div>
        <div class="col">
          <button type="submit" class="btn btn-outline-success mt-4">Şifrəni yenilə</button>
        </div>
      </div>
    </form>
  </div>
</section>
</body>
</html>