<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base/layout::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Email ünvanı</title>
</head>
<body>
<section>
    <div class="container-fluid p-5 mt-5">
        <h2>Email ünvanını daxil edin</h2>
        <div th:if="${session.successMessage}" class="alert alert-success alert-dismissible fade show"
             role="alert">
            [[${session.successMessage}]]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <th:block th:text="${@sessionMessageManagementServiceImplementation.removeSessionMessage()}"></th:block>
        </div>
        <div th:if="${session.errorMessage}" class="alert alert-danger alert-dismissible fade show"
             role="alert">
            [[${session.errorMessage}]]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <th:block th:text="${@sessionMessageManagementServiceImplementation.removeSessionMessage()}"></th:block>
        </div>
        <form method="post" action="/auth/forgot-password">
            <div class="row mt-3">
                <div class="col">
                    <label for="email"></label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email ünvanı" required>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-outline-primary mt-4">Göndər</button>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>