<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base/layout::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Qeydiyyat</title>
</head>
<body>
<section>
    <div class="container-fluid p-5 mt-5">
        <h2>Qeydiyyat</h2>
        <th:block th:if="${session.successMessage}">
            <div class="alert alert-success alert-dismissible fade show"
                 role="alert">
                [[${session.successMessage}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <th:block th:text="${@sessionMessageManagementServiceImplementation.removeSessionMessage()}"></th:block>
        </th:block>
        <th:block th:if="${session.errorMessage}">
            <div class="alert alert-danger alert-dismissible fade show"
                 role="alert">
                [[${session.errorMessage}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <th:block th:text="${@sessionMessageManagementServiceImplementation.removeSessionMessage()}"></th:block>
        </th:block>
        <form method="post" action="/auth/register">
            <div class="row mt-3">
                <div class="col">
                    <label for="firstName"></label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Ad" required>
                </div>
                <div class="col">
                    <label for="lastName"></label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Soyad" required>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="email"></label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email ünvanı" required>
                </div>
                <div class="col">
                    <label for="password"></label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Şifrə" required>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="confirmPassword"></label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                           placeholder="Təkrar şifrə" required>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-outline-primary mt-4">Qeydiyyatı tamamla</button>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>