<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{base/layout::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Məhsul paylaş</title>
</head>
<body>
<section>
    <div class="container-fluid p-5 mt-5">
        <h2>Məhsul paylaş</h2>
        <th:block th:if="${session.successMessage}">
            <div class="alert alert-success alert-dismissible fade show"
                 role="alert">
                [[${session.successMessage}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <th:block th:text="${@sessionMessageManagementServiceImplementation.removeSessionMessage()}"></th:block>
        </th:block>
        <th:block th:if="${session.errorMessage}">
            <div class="alert alert-danger alert-dismissible fade show"
                 role="alert">
                [[${session.errorMessage}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <th:block th:text="${@sessionMessageManagementServiceImplementation.removeSessionMessage()}"></th:block>
        </th:block>
        <form method="post" action="/product/create" enctype="multipart/form-data">
            <div class="row">
                <div class="col">
                    <label for="name">Ad</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="col">
                    <label for="price">Qiymət (AZN)</label>
                    <input type="number" step="any" id="price" name="price"
                           class="form-control" required>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="location">Məkan</label>
                    <input type="text" class="form-control" id="location" name="location" required>
                </div>
                <div class="col">
                    <label for="mobileNumber">Əlaqə nömrəsi</label>
                    <input type="tel" id="mobileNumber" name="mobileNumber" class="form-control">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="category">Kateqoriya</label>
                    <select class="form-control" id="category" name="categoryId" required>
                        <option th:each="category : ${categoryList}"
                                th:value="${category.id}"
                                th:text="${category.name}"></option>
                    </select>
                </div>
                <div class="col">
                    <label>Status</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" checked value="Yeni"
                               name="status" id="status1">
                        <label class="form-check-label" for="status1">Yeni</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="status"
                               value="İstifadə olunmuş" id="status2">
                        <label class="form-check-label" for="status2">İstifadə olunmuş</label>
                    </div>
                </div>
                <div class="col">
                    <label for="file">Şəkil</label>
                    <input id="file" name="file" type="file" class="form-control" required>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-primary">Paylaş</button>
        </form>
    </div>
</section>
</body>
</html>