<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{base/layout::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Məhsullar</title>
</head>
<body>
<section>
    <div class="container-fluid p-5 mt-5">
        <h2>Məhsullar</h2>
        <th:block th:if="${session.successMessage}">
            <div class="alert alert-success alert-dismissible fade show"
                 role="alert">
                [[${session.successMessage}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <th:block th:text="${@sessionMessageManagementServiceImplementation.removeSessionMessage()}"></th:block>
        </th:block>
        <th:block th:if="${session.errorMessage}">
            <div class="alert alert-danger alert-dismissible fade show"
                 role="alert">
                [[${session.errorMessage}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <th:block th:text="${@sessionMessageManagementServiceImplementation.removeSessionMessage()}"></th:block>
        </th:block>
        <div class="row">
            <th:block th:if="${productList.size() > 0}">
                <div class="col-md-3 pt-3" th:each="product : ${productList}">
                    <div class="card">
                        <img alt="" th:src="@{'/product-images/' + ${product.imageName}}"
                             width="100%" height="150px">
                        <div class="card-body">
                            <h5 class="card-title">[[${product.name}]]</h5>
                            <a th:href="@{'/product/details/' + ${product.id}}"
                               class="btn btn-outline-info">Ətraflı</a>
                        </div>
                    </div>
                </div>
            </th:block>
            <th:block th:unless="${productList.size() > 0}">
                <div class="alert alert-danger alert-dismissible fade show"
                     role="alert">
                    Məhsul mövcud deyil!
                </div>
            </th:block>
        </div>
    </div>
</section>
</body>
</html>