<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{base/layout::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Məhsullar</title>
</head>
<body>
<section>
    <div class="container-fluid p-5 mt-5">
        <h2>Məhsullar</h2>
        <th:block th:if="${session.successMessage}">
            <div class="alert alert-success alert-dismissible fade show"
                 role="alert">
                [[${session.successMessage}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <th:block th:text="${@sessionMessageManagementServiceImplementation.removeSessionMessage()}"></th:block>
        </th:block>
        <th:block th:if="${session.errorMessage}">
            <div class="alert alert-danger alert-dismissible fade show"
                 role="alert">
                [[${session.errorMessage}]]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <th:block th:text="${@sessionMessageManagementServiceImplementation.removeSessionMessage()}"></th:block>
        </th:block>
        <a class="btn btn-outline-primary mb-4" href="/product/create-view">Məhsul paylaş</a>
        <form class="d-flex ml-2 mb-3" role="search" method="get" action="/product/list">
            <label for="minimumPrice" class="me-2">
                <input class="form-control" type="number" id="minimumPrice"
                       name="minimumPrice" placeholder="Minimum qiymət" step="0.1" min="0">
            </label>
            <label for="minimumPrice" class="me-2">
                <input class="form-control" type="number" id="maximumPrice"
                       name="maximumPrice" placeholder="Maksimum qiymət" step="0.1" min="0">
            </label>
            <input class="form-control me-2" type="search" id="character" name="character"
                   placeholder="Elanın adını daxil edin" aria-label="Search">
            <button class="btn btn-outline-secondary" type="submit">Axtar</button>
            <input type="hidden" id="page" name="page" value="0">
            <input type="hidden" id="size" name="size" value="50">
        </form>
        <th:block th:if="${productList.content.size() > 0}">
            <span class="me-2">Məhsulların sayı: [[${productList.totalElements}]]</span>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${!productList.hasPrevious()} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/product/list(page=${productList.number - 1}, size=${productList.size},
                                minimumPrice=${minimumPrice}, maximumPrice=${maximumPrice}, character=${character})}"
                                aria-label="Previous">
                            &laquo;
                        </a>
                    </li>
                    <li class="page-item" th:each="i : ${#numbers.sequence(0, productList.totalPages - 1)}"
                        th:classappend="${i == productList.number} ? 'active'">
                        <a class="page-link"
                           th:href="@{/product/list(page=${i}, size=${productList.size},
                                minimumPrice=${minimumPrice}, maximumPrice=${maximumPrice}, character=${character})}"
                                th:text="${i + 1}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${!productList.hasNext()} ? 'disabled'">
                        <a class="page-link"
                                th:href="@{/product/list(page=${productList.number + 1}, size=${productList.size},
                                minimumPrice=${minimumPrice}, maximumPrice=${maximumPrice}, character=${character})}"
                                aria-label="Next">
                            &raquo;
                        </a>
                    </li>
                </ul>
            </nav>
        </th:block>
        <div class="row">
            <th:block th:if="${productList.content.size() > 0}">
                <div class="col-md-3 pt-3" th:each="product : ${productList.content}">
                    <div class="card">
                        <img alt="" th:src="@{'/product-images/' + ${product.imageName}}"
                             width="100%" height="150px">
                        <div class="card-body">
                            <h5 class="card-title">[[${product.name}]]</h5>
                            <h6 class="card-title">[[${product.price}]] AZN</h6>
                            <a th:href="@{'/product/details/' + ${product.id}}"
                               class="btn btn-outline-info">Ətraflı</a>
                            <a th:href="@{'/product/update-view/' + ${product.id}}"
                               class="btn btn-outline-success">Düzənlə</a>
                            <a th:href="@{'/product/delete-view/' + ${product.id}}"
                               class="btn btn-outline-danger">Sil</a>
                        </div>
                    </div>
                </div>
            </th:block>
            <th:block th:unless="${productList.content.size() > 0}">
                <div class="alert alert-danger alert-dismissible fade show"
                     role="alert">
                    Məhsul mövcud deyil!
                </div>
            </th:block>
        </div>
    </div>
</section>
</body>
</html>