<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base/layout::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
</head>
<body>
<section>
    <div class="container p-5">
        <p class="text-center fs-3 mt-4">Admin Panel</p>
        <div class="row p-5">
            <div class="col-md-4 mt-2">
                <a href="/category/create-view" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-primary">
                            <h4>Kateqoriya əlavə et</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mt-2">
                <a href="/category/list-for-admin" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-danger">
                            <h4>Kateqoriyalar</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mt-2">
                <a href="#" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-success">
                            <h4>İstifadəçilər</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
</body>
</html>