<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{base/layout::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Kateqoriyalar</title>
</head>
<body>
<section>
    <div class="container-fluid p-5 mt-3">
        <h3>Kateqoriyalar</h3>
        <div th:if="${session.successMessage}" class="alert alert-success alert-dismissible fade show"
             role="alert">
            [[${session.successMessage}]]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <th:block th:text="${@sessionMessageManagementServiceImplementation.removeSessionMessage()}"></th:block>
        </div>
        <div th:if="${session.errorMessage}" class="alert alert-danger alert-dismissible fade show"
             role="alert">
            [[${session.errorMessage}]]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <th:block th:text="${@sessionMessageManagementServiceImplementation.removeSessionMessage()}"></th:block>
        </div>
        <form class="d-flex ml-2 mb-3" role="search" method="get" action="/category/list-for-admin">
            <input class="form-control me-2" type="search" id="character" name="character"
                   th:value="${character}" placeholder="Kateqoriyanın adını daxil edin" aria-label="Search">
            <button class="btn btn-outline-secondary" type="submit">Axtar</button>
            <input type="hidden" id="page" name="page" value="0">
            <input type="hidden" id="size" name="size" value="10">
        </form>
        <th:block th:if="${categoryList.content.size() > 0}">
            <span class="me-2">Kateqoriyaların sayı: [[${categoryList.totalElements}]]</span>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${!categoryList.hasPrevious()} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/category/list-for-admin(page=${categoryList.number - 1}, size=${categoryList.size}, character=${character})}"
                           aria-label="Previous">
                            &laquo;
                        </a>
                    </li>
                    <li class="page-item" th:each="i : ${#numbers.sequence(0, categoryList.totalPages - 1)}"
                        th:classappend="${i == categoryList.number} ? 'active'">
                        <a class="page-link"
                           th:href="@{/category/list-for-admin(page=${i}, size=${categoryList.size}, character=${character})}"
                           th:text="${i + 1}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${!categoryList.hasNext()} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/category/list-for-admin(page=${categoryList.number + 1}, size=${categoryList.size}, character=${character})}"
                           aria-label="Next">
                            &raquo;
                        </a>
                    </li>
                </ul>
            </nav>
        </th:block>
        <div class="row pt-3">
            <table th:if="${categoryList.content.size() > 0}" class="table table-bordered text-center">
                <thead>
                <tr>
                    <th>Şəkil</th>
                    <th>Ad</th>
                    <th>Əməliyyatlar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category : ${categoryList.content}">
                    <td>
                        <img th:src="@{'/category-images/' + ${category.imageName}}"
                             width="50px" height="50px" alt="...">
                    </td>
                    <td>[[${category.name}]]</td>
                    <td>
                        <a class="btn btn-outline-success"
                           th:href="@{'/category/update-view/' + ${category.id}}">Düzənlə</a>
                        <a class="btn btn-outline-danger"
                           th:href="@{'/category/delete-view/' + ${category.id}}">Sil</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:unless="${categoryList.content.size() > 0}"
                 class="alert alert-danger alert-dismissible fade show" role="alert">
                Kateqoriya mövcud deyil!
            </div>
        </div>
    </div>
</section>
</body>
</html>