<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        th:replace="~{base/layout::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Kateqoriyanı sil</title>
</head>
<body>
<section>
    <div class="container-fluid p-5 mt-5">
        <h2>Kateqoriyanı silməyə əminsinizmi?</h2>
        <div th:if="${session.errorMessage}" class="alert alert-danger alert-dismissible fade show"
             role="alert">
            [[${session.errorMessage}]]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <th:block th:text="${@sessionMessageManagementServiceImplementation.removeSessionMessage()}"></th:block>
        </div>
        <img th:src="@{'/category-images/' + ${foundedCategory.imageName}}"
             class="border p-2" style="width: 110px; height: 110px; border-radius: 50%;" alt="">
        <form method="post" action="/category/delete">
            <input type="hidden" id="id" name="id" th:value="${foundedCategory.id}">
            <div class="row">
                <div class="col">
                    <label for="name">Ad</label>
                    <input type="text" class="form-control" id="name" name="name"
                           th:value="${foundedCategory.name}" disabled>
                </div>
                <div class="col">
                    <label for="file">Şəkil</label>
                    <input type="file" class="form-control" id="file" name="file" disabled>
                </div>
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-outline-danger">Bəli</button>
                <a class="btn btn-outline-dark" href="/category/list-for-admin">Xeyr</a>
            </div>
        </form>
    </div>
</section>
</body>
</html>